<mat-card class="item">
  <mat-card-header>
    <mat-card-title>{{item.title}}</mat-card-title>
    <mat-card-subtitle>
      <span class="email">{{ item.email }}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="item.image" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>{{ item.description }}</p>
    <p class="price">{{ item.price | currency:'EUR':'symbol':'1.2-2':'es-ES' }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button aria-label="Add to my wishlist" (click)="like()" [color]="wishlisted && 'warn'">
      <mat-icon class="icon" aria-hidden="false" aria-label="Favorite">favorite</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>