<mat-toolbar color="primary" class="header mat-elevation-z4">
  <mat-toolbar-row>
    <h1>Wallapop Front-end Test</h1>
    <span class="spacer"></span>
    <button
      mat-icon-button
      aria-label="My Wishlist"
      [matBadge]="(wishlist | async).length"
      matBadgePosition="below before"
      [matBadgeHidden]="!(wishlist | async).length"
      matBadgeColor="accent"
    >
      <mat-icon class="icon" aria-hidden="false" aria-label="Favorites" (click)="toggleSide()">favorite</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <div class="list">
    <app-search-form
      [searchFields]="listSearchFields"
      [sortCriterias]="listSortCriterias"
      [selectedCriteria]="listSelectedCriteria"
      (searchBy)="handleSearchBy($event)"
      (sortBy)="handleSortBy($event)"
    ></app-search-form>
    <app-list
      [items]="items"
    ></app-list>
  </div>

  <mat-sidenav #sidenav mode="side" position="end" mode="over" [(opened)]="opened">
    <div class="wishlist">
      <app-list
        [items]="wishlist"
      ></app-list>
    </div>
  </mat-sidenav>
</mat-sidenav-container>