.header {
  position: fixed;
  top: 0;
  z-index: 2;

  .spacer {
    flex: 1 1 auto;
  }
}

.list{
  max-width: 1080px;
  margin: 90px auto 30px;
  text-align: center;
} 
.wishlist{
  max-width: 710px;
  margin: 90px auto 30px;
  text-align: left;
  overflow-y: auto;
} 