.searchBar {
  margin: 20px;
  position: sticky;
  top: 70px;
  z-index: 1;
  text-align: left;

  .mat-form-field {
    margin-right: 20px;
    &.price {
      width: 80px;
      input {
       text-align: right;
      } 
    }
    &.sort {
      width: 100px;
      .mat-select {
        text-align: right;
       } 
    }
  }
  .container {
    display: flex;
    width: 100%;
  }
  .spacer {
    flex: 1 1 auto;
  }
}