<mat-card class="searchBar mat-elevation-z4">
  <div class="container">
    <mat-form-field  class="text">
      <mat-label>Buscar producto</mat-label>
      <input matInput [(ngModel)]="searchFields.text" (ngModelChange)="setSearchFields()" placeholder="Ej. Lavadora">
    </mat-form-field>
    <mat-form-field class="price">
      <mat-label>Desde</mat-label>
      <input matInput type="number" [(ngModel)]="searchFields.min" (ngModelChange)="setSearchFields()">
      <span matSuffix>€</span>
    </mat-form-field>
    <mat-form-field class="price">
      <mat-label>Hasta</mat-label>
      <input matInput type="number" [(ngModel)]="searchFields.max" (ngModelChange)="setSearchFields()">
      <span matSuffix>€</span>
    </mat-form-field>
    <span class="spacer"></span>
    <mat-form-field class="sort">
      <mat-icon matPrefix class="icon" aria-hidden="false" aria-label="Ordenar por">sort</mat-icon>
      <mat-select [(ngModel)]="selectedCriteria" (ngModelChange)="setSortCriteria()">
        <mat-option *ngFor="let criteria of sortCriterias" [value]="criteria">
          {{ criteria.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-card>